body {
  background:
    url("/img/parfirstplan.png") no-repeat,
    url("/img/parfirstmidleplan.png") no-repeat,
    url("/img/teadrinking.png") no-repeat,
    url("/img/parsecmidleplan.png") no-repeat,
    url("/img/parlastplan.png") no-repeat,
    url("/img/bg.png") no-repeat;
  background-position: 55% 17%, 65% 18%, 53% 12.9%, 50% 9%, 95% -130%, top left;
  background-size: contain contain;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: CheshirskiyCat;
  src: url(/src/CheshirskiyCat.ttf);
  /* font-family: OpenSans;
  src: url(/src/OpenSans-Regular.ttf); */
}



.first {
  width: 938px;
  height: 707px;
  text-align: center;
  margin-left: 488px;
}

h1 {
  font-family: CheshirskiyCat;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  font-size: 52px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 4px;
  line-height: 1.1;
  }
  
h6 {
    text-align: center;
    font-size: 15px;
    opacity: 0.5;
    font-family: OpenSans;
  }
  
input {
    font-family: OpenSans-Regular;
    background-color: #dbff4c;
    width: 320px;
    height: 66px;
    border: #dbff4c;
    border-radius: 40px;
    box-shadow: 0 0 24px 2px #dbff4c;
    font-size: larger;
    font-weight: 600;
    margin-top: 150px;
  }

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 65px;
  line-height: 30px;
  font-family: OpenSans;

}

li {
  text-align: right;
  list-style-type: none;
}

.numbers {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.free {
  font-size: 11px;
  opacity: 0.5;
  letter-spacing: 0.2px;
}

.order {
  font-size: 11.5px;
  letter-spacing: 0.4px;
  color: #00d2ff;
  text-decoration: underline;
  text-decoration-style: dashed;
  opacity: 0.5;
}

.second {
  height: 1223px;
}

.date {
  width: 135px;
  height: 50px;
  border: #3da7e0;
  background-color: #3da7e0;
  border-radius: 8px 8px 8px 0;
  font-size: 17px;
  text-align: center;
  padding-top: 5px;
  margin-left: 1160px;
  margin-top: 650px;
}

.price {
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: -20px;
}

.eat {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}

.nolimit {
  width: 620px;
  height: 35px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border-radius: 40px;
  background-color: #f46b11;
  border: #f46b11;
  text-align: center;
  padding-top: 16px;
  margin-left: 650px;
  margin-top: -10px;
}

.menu {
  font-family: OpenSans;
  background-color: #0e1e4a;
  width: 320px;
  height: 66px;
  border: #0e1e4a;
  border-radius: 40px;
  box-shadow: 0 0 60px 40px #086cad;
  font-size: larger;
  font-weight: 600;
  margin-top: 70px;
  color: white;
  margin-left: 800px;
}

.third {
  height: 1267px;
}

.stars {
  margin-top: -800px;

}

.star {
  text-align: center;
  margin-top: -205px;
  margin-left: 40px;
}

.fourth {
  height: 766px;
}

.three {
  margin-top: -75px;
}

.days {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: large;
  margin-left: 520px;
  margin-top: -300px;
  width: 870px;
}

.program {
text-align: center;
margin-top: -150px;
}

.event {
  font-family: OpenSans;
  background-color: #0e1e4a;
  width: 320px;
  height: 66px;
  border: #0e1e4a;
  border-radius: 40px;
  box-shadow: 0 0 60px 40px #086cad;
  font-size: larger;
  font-weight: 600;
  margin-top: 60px;
  margin-left: 780px;
  color: white;

}

.fifth {
  height: 965px;
}

.freedays {
  margin-top: 120px;
}

.swan {
  text-align: center;
}

.trips {
  margin-left: -30px;
  margin-top: -170px;

}

.sixth {
  height: 2318px;
}

.healthsport {
  margin-top: -10px;

}

.rest {
  text-align: center;
  font-size: larger;
  opacity: 0.7;
}

.sport {
  margin-top: -370px;
}

.seventh {
  height: 1153px;
}